In [2]:
text = input("Enter the text: ");
print(text);

Enter the text: Hope AI
Hope AI

In [3]:
institue = input("Enter the institute name: ");
print(institue);

Enter the institute name: Hope AI
Hope AI

In [4]:
name = input("Enter your name: ");
age = int(input("Enter your age: "));
school_name = input("Enter your school name: ");
degree = input("Enter your degree: ");

Enter your name: Sindhu
Enter your age: 35
Enter your school name: JMHSS
Enter your degree: BE EE

In [7]:
a = int(input("Enter the first number: "));
b = int(input("Enter the second number: " ));
add = a + b;
print("Addition : " + str(add));

Enter the first number: 10
Enter the second number: 20
Addition : 30

In [8]:
a = int(input("Enter the first number: "));
b = int(input("Enter the second number: " ));
sub = a  - b;
print("Subtraction : " + str(sub));

Enter the first number: 10
Enter the second number: 20
Subtraction : -10

In [9]:
a = int(input("Enter the first number: "));
b = int(input("Enter the second number: " ));
mul = a * b;
print("Addition : " + str(mul));

Enter the first number: 10
Enter the second number: 20
Addition : 200

In [13]:
a = int(input("Enter the first number: "));
b = int(input("Enter the second number: " ));
if(b == 0):
    print("Cannot divide by zero");
else:
  div = a / b;
  print("Addition : " + str(div));

Enter the first number: 10
Enter the second number: 5
Addition : 2.0

In [15]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if(b == 0):
    print("Cannot divide by zero")
else:
  floorDiv = a // b;
  print("Floor Division : " + str(floorDiv))

Enter the first number: 10
Enter the second number: 3
Floor Division : 3

In [16]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
mod = a % b;
print("Modulo: " + str(mod))

Enter the first number: 10
Enter the second number: 3
Modulo: 1

In [17]:

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
power = a ** b;
print("Power: " + str(power))

Enter the first number: 10
Enter the second number: 2
Power: 100